controller:
  admin:
    username: "${JENKINS_USERNAME}"
    password: "${JENKINS_PASSWORD}"
  serviceType: "ClusterIP"
  nodeSelector:
    topology.kubernetes.io/zone: "${JENKINS_EBS_ZONE}"
  jenkinsUriPrefix: "/jenkins"
  additionalPlugins:
    - github:1.43.0
    - github-api:1.321-488.v9b_c0da_9533f8
persistence:
  existingClaim: "${JENKINS_PVC}"
  storageClass: "-"
